
html {
    font-family: Georgia, Serif;
    background-color: #f6f6f3;
    color: #111;

    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 60px;
}

@media (min-width: 900px) {
    html {
        width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
}

.title {
    margin-bottom: 5px;
}
.date::before { content: ' — '; }
.date, .author {
    display: inline;
    font-style: italic;
    color: #444;
}

#back-button {
    float: right;
}

header {
    margin-bottom: 3ex;
    text-align: left;
}

footer {
    margin-top: 6ex;
    text-align: center;
    font-size: smaller;
    font-style: italic;
    color: #666;
}

figure {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
}
figure > img { width: 100%; } /* Scale the image */

code {
    white-space: pre-wrap;
    font-family: Consolas, monospace;
    font-size: 90%;
    padding: 2px 4px;
    color: #c7254e;
    background-color: #ebebe4;
    border-radius: 4px;
}

pre.sourceCode {
    background-color: #3e3f40;
    width: 90%;
    border-radius: 6px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

pre.sourceCode code { 
    color: unset; /* use color from color scheme */
    background-color: #3e3f40;
    padding: 0px;
} 

.email_a::after { content: '.'; }
.email_b::after { content: '@'; }
